footer.footer
  ._container._row.footer__row
    ._col-12._col-lg-4._p-n.footer__first
      a.link.footer__logo-box(href="/")
        img.footer__logo(src=require('../../svg/label.svg') alt="Just Marketing")
    ._col-12._col-lg-4._p-n.footer__right
      a.link.footer__phone._s(href="tel:80000000000") 8 (000) 000-00-00
    ._col-12._col-lg-4._p-n.footer__middle
      a.link.footer__link._s(href="/privacy-policy/") Политика конфиденциальности