@import "../vars";

.about {
  padding: 45px 0;
  background-color: $p-text-color;
  box-sizing: border-box;
  &:before {
    top: 70px;
    left: 0;
    right: 0;
    height: (570px + 130) / 2;
    background-image: url(../img/about.png);
    background-position: bottom center;
    background-size: contain;
  }

  &__button-box {
    display: flex;
    padding-top: (570px  + 130) / 2;
    justify-content: center;
    box-sizing: border-box;
  }
  &__title {
    font-size: 1rem;
    font-weight: 700;
  }
  &__text {
    padding: 54px 0;
    font-size: 0.875rem;
    line-height: 1.96;
    box-sizing: border-box;
  }
  &__list {
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 20px;
  }
  &__item {
    position: relative;
    padding: 10px 0 10px 43px - 20;
    font-size: 0.875rem;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 15px;
      left: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #000;
    }
  }
}

@media (min-width: 768px) {
  .about {
    &:before {
      height: 570px + 130;
      right: 50%;
      background-position: bottom right 117px;
    }
    &:after {
      left: 50%;
      right: 0;
      bottom: -151px;
      height: 322px;
      background-image: url(../img/transition1.png);
      background-position: left 515px bottom;
    }
    &__bubles-box {
      position: absolute;
      z-index: 3;
      top: 70px  + 100;
      left: auto;
      right: 50%;
      min-width: 831px;
      height: 570px + 130;
      overflow: hidden;
    }
    &__buble {
      position: absolute;
      right: 50%;
      border-radius: 50%;
      background-color: $p-active-color;
      &._i1 {
        top: 74px;
        width: 176px;
        height: 176px;
        transform: translateX(-125px);
        animation: 10s ease 0s infinite about-bl1;
      }
      &._i2 {
        top: 353px;
        width: 82px;
        height: 82px;
        transform: translateX(-180px);
        animation: 15s ease 0s infinite about-bl2;
      }
      &._i3 {
        top: 455px + 15;
        width: 44px;
        height: 44px;
        transform-origin: 15px 15px;
        transform: translateX(-98px);
        animation: 10s linear 0s infinite about-bl3;
      }
      &._i4 {
        top: 477px;
        width: 82px;
        height: 82px;
        transform: translateX(160px);
        animation: 20s ease 0s infinite about-bl4;
      }
    }
    &__caption {
      text-align: left;
    }
  }
}

@keyframes about-bl1 {
  0% {
    transform: translateX(-125px) scale(1);
  }
  50% {
    transform: translateX(-125px) scale(0.8);
  }
}

@keyframes about-bl2 {
  0% {
    transform: translateX(-180px);
  }
  50% {
    transform: translate(-160px, -20px);
  }
}

@keyframes about-bl3 {
  0% {
    transform: translateX(-58px) rotate(0);
  }
  100% {
    transform: translateX(-58px) rotate(360deg);
  }
}

@keyframes about-bl4 {
  0% {
    transform: translateX(160px);
  }
  50% {
    transform: translate(180px, -10px);
  }
}