@import "../vars";

.brand {
  padding: 45px 0 30px;
  background-color: $p-text-color;
  color: $s-text-color;
  &__title {
    padding-bottom: 30px;
    line-height: 1.57;
    font-size: 1.125rem;
    text-align: center;
  }
  &__item {
    display: flex;
    width: 100%;
    min-width: 320px - 30;
    max-width: 344px;
    padding: 30px 0;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__logo {
    min-width: 220px;
    max-width: 220px;
    height: 196px;
    margin: 0 auto;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 20px;
  }
  &__text {
    padding: 30px 15px 0;
    box-sizing: border-box;
    max-width: 488px;
    text-align: center;
  }
  &__slider {
    position: relative;
    max-width: 320px - 30;
    margin: 0 auto;
    padding: 0 50px - 15;
    box-sizing: border-box;
  }
  &__btn {
    display: none;
  }
}

@media (min-width: 576px) {
  .brand {
    &__logo {
      margin: 0;
    }
  }
}

@media (min-width: 768px) {
  .brand {
    &__buble {
      position: absolute;
      z-index: 3;
      top: 330px;
      left: 50%;
      right: 0;
      height: 160px;
      background-image: url(../img/transition4.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left 459px;
      animation: 10s linear 0s infinite brand-bg1;
    }
    &:before {
      top: 88px;
      left: 50%;
      right: 0;
      height: 603px;
      background-image: url(../img/brand.png);
      background-position: top left 459px + 68;
    }
    &:after {
      left: 0;
      right: 50%;
      bottom: -211px;
      height: 1057px;
      background-image: url(../img/transition6.png);
      background-position: bottom right 609px;
    }
  }
  @keyframes brand-bg1 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-20px, -30px);
    }
  }
}
@media (min-width: 992px) {
  .brand {
    &__container {
      padding: 15px 68px;
    }
    &__btn {
      display: flex;
    }
  }
}