@import "../vars";

.first {
  position: relative;
  background-color: $p-text-color;
  min-height: 740px;
  padding-top: 130px - 15;
  background-image: url(../img/first.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  &__label-box {
    display: flex;
    position: relative;
    justify-content: center;
  }
  &__label {
    width: 246px;
    height: 241px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  .first {
    overflow: hidden;
    &__buble-box {
      position: absolute;
      z-index: 12;
      top: 90px;
      right: 50%;
      transform: translateX(-360px);
    }
    &__buble {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background-image: url(../svg/buble.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      &._i2 {
        left: 60px;
      }
      &._i3 {
        left: 120px;
      }
    }
    &__bg1 {
      position: absolute;
      top: 420px;
      left: 50%;
      width: 72px;
      height: 73px;
      background-image: url(../img/first2.png);
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateX(120px);
      transform-origin: 10px 60px;
      animation: 30s linear 0s infinite first-bg1;
    }
    &__bg2 {
      position: absolute;
      top: 60px;
      left: 50%;
      width: 100px;
      height: 101px;
      background-image: url(../img/first2.png);
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateX(350px);
      transform-origin: 50px 30px;
      animation: 40s linear 0s infinite first-bg2;
    }
    &__bg3 {
      position: absolute;
      top: 490px;
      right: 50%;
      width: 80px;
      height: 80px;
      background-image: url(../img/first3.png);
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateX(-140px);
      animation: 10s linear 0s infinite first-bg3;
    }
    &__bg4 {
      position: absolute;
      top: 490px;
      left: 50%;
      width: 155px;
      height: 141px;
      background-image: url(../img/first4.png);
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateX(250px);
      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 57px;
        height: 57px;
        background-color: #fff;
        border-radius: 50%;
        transform-origin: 25px 5px;
        transform: translate(-25px, -5px);
        animation: 10s linear 0s infinite first-bg4;
      }
    }
    &__label-box {
      position: relative;
      display: flex;
      justify-content: flex-end;
      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 15px;
      }
      &:before {
        z-index: 11;
        right: 246px + 15 - 50px;
        width: 40px;
        height: 40px;
        background-color: #000;
      }
    }
    &__j {
      display: block;
      position: absolute;
      z-index: 12;
      right: 246px + 15 - 48px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color:$p-active-color;
    }
    &__text {
      align-items: flex-start;
    }
  }

  [data-aos="buble"] {
    transition-property: transform, opacity;
    transform-origin: -100px 150px;
    transform: translateY(-120px) rotate(360deg);
    &.aos-animate {
      transform: translateY(0) rotate(0);
    }
  }

  @keyframes first-bg1 {
    0% {
      transform: translateX(120px) rotate(0);
    }
    100% {
      transform: translateX(120px) rotate(-360deg);
    }
  }

  @keyframes first-bg2 {
    0% {
      transform: translateX(350px) rotate(0);
    }
    100% {
      transform: translateX(350px) rotate(360deg);
    }
  }

  @keyframes first-bg3 {
    0% {
      opacity: 1;
      transform: translateX(-140px);
    }
    50% {
      opacity: 0.3;
      transform: translate(-120px, -20px);
    }
  }

  @keyframes first-bg4 {
    0% {
      transform: translate(-25px, -5px) rotate(0);
    }
    100% {
      transform: translate(-25px, -5px) rotate(360deg);
    }
  }
}