@import "../vars";

.foryou {
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: $s-background-color;
  &__text {
    padding-top: 25px;
    line-height: 1.57;
    font-size: 1.125rem;
    text-align: center;
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
  }
  &__item {
    position: relative;
    padding-top: 140px + 15;
    line-height: 1.57;
    font-size: 1.125rem;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 15px;
      left: 50%;
      width: 94px;
      height: 101px;
      background-image: url(../svg/foryou.svg);
      background-repeat: no-repeat;
      background-size: auto 101px;
      transform: translateX(-50%);
    }
    &._i1:before {
      background-position: 0 0;
    }
    &._i2:before {
      background-position: -100px 0;
    }
    &._i3:before {
      background-position: -200px 0;
    }
    &._i4:before {
      background-position: -300px 0;
    }
  }
  &__button-box {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .foryou {
    &:before {
      top: -112px;
      left: 0;
      right: 50%;
      height: 209px;
      background-image: url(../img/transition4.png);
      background-position: top right 636px;
    }
  }

  @keyframes size-icons {
    from {
      transform: translateX(-50%) scale(1);
    }
    to {
      transform: translateX(-50%) scale(1.2);
    }
  }

  .aos-animate .foryou {
    &__item {
      &._i1:before {
        animation: 1.6s linear 1s 4 alternate size-icons;
      }
      &._i2:before {
        animation: 1.6s linear 1.4s 4 alternate size-icons;
      }
      &._i3:before {
        animation: 1.6s linear 1.8s 4 alternate size-icons;
      }
      &._i4:before {
        animation: 1.6s linear 2.2s 4 alternate size-icons;
      }
    }
  }
}