section.about._transition
  .about__bubles-box
    .about__buble._i1
    .about__buble._i2
    .about__buble._i3
    .about__buble._i4
  ._container._row
    ._col-12._col-md-5._col-lg-6
      .about__button-box
        label.button(for="modal-close") Получить консультацию
    ._col-12._col-md-7._col-lg-6
      h2.about__caption._s#about-first(data-aos="zoom-in-right") Кто мы?!
      .about__text._s(data-aos="fade-up" data-aos-anchor="#about-first" data-aos-delay="500")
        span.about__title._c Мы – команда JUST Marketing.
        br
        | Мы помогаем компаниям внедрять и развивать маркетинг, разрабатываем
        | эффективные решения для роста продаж. Внедряем стратегии для создания
        | успешных брендов, увеличивающие прибыль.
        br
        br
        | Во&nbsp;главе нашей компании стоит сильный лидер&nbsp;&mdash;
        |
        strong._c Екатерина Пархоменко.
        |
        | Она лично будет вести Ваш проект, гарантируя высокое качество и&nbsp;сроки
        | реализации проекта.
      .about__list(data-aos="fade-up" data-aos-anchor="#about-first" data-aos-delay="1000")
        .about__item
          | Более 13&nbsp;лет опыта в&nbsp;комплексном маркетинге
          | на&nbsp;российском и&nbsp;международном B2B и&nbsp;B2C&nbsp;рынках.
        .about__item
          | Занималась маркетинговым и&nbsp;стратегическим планированием
          | компаний в&nbsp;России, странах СНГ, Европы, Латинской Америки,
          | Азии, странах Ближнего Востока и&nbsp;Северной Африки.
        .about__item
          | Реализовала более 100 проектов в&nbsp;сфере маркетинга,
          | брендинга и&nbsp;PR.
        .about__item
          | Работала с&nbsp;проектами таких компаний, как ABBOTT, Skincare, Arnest,
          | Disney, Alphatech, Газпром, Лукойл, Транснефть, РЖД и&nbsp;другие.