.audit
  ._container._row
    ._col-12._s.audit__title
      | Слейте еще
      |
      span.audit__big-text 300&nbsp;000&nbsp;руб.
      |
      | бюджета в&nbsp;рекламу
      br
      span._c.audit__zero и&nbsp;получите 0&nbsp;клиентов из-за неправильного маркетинга
    ._col-12._s.audit__title
      | Или Вы можете:
    ._col-12._row._p-n._c.audit__list
      .audit__item
        | на
        |
        span.audit__proc 40%
        br
        span._s увеличить прибыль
      .audit__item
        | на
        |
        span.audit__proc 37%
        br
        span._s привлечь больше клиентов
      .audit__item
        | на
        |
        span.audit__proc 64%
        br
        span._s сократить расходы
    ._col-12._s.audit__title
      | за счёт ...
    ._col-12.audit__button-box
      label.button(for="modal-close") Получить аудит бесплатно