.audit
  ._container._row
    ._col-12._s.audit__title
      | Или Вы можете:
    ._col-12._row._p-n._c.audit__list
      .audit__item(data-aos="zoom-in")
        | на
        |
        span.audit__proc 40%
        br
        span._s увеличить прибыль
      .audit__item(data-aos="zoom-in" data-aos-delay="500")
        | на
        |
        span.audit__proc 37%
        br
        span._s привлечь больше клиентов
      .audit__item(data-aos="zoom-in" data-aos-delay="1000")
        | на
        |
        span.audit__proc 64%
        br
        span._s сократить расходы
    ._col-12._s.audit__title
      | узнайте как ...
    ._col-12.audit__button-box
      label.button(for="modal-close") Получить аудит бесплатно