section.brand._transition
  .brand__buble
  ._container._row
    h2._col-12.brand__caption(data-aos="zoom-in")
      | Бренд&nbsp;&mdash; это&nbsp;то, что приносит Вам деньги
    ._col-12.brand__title(data-aos="fade-right" data-aos-delay="500")
      | С&nbsp;этой позиции мы&nbsp;реализуем наши проекты:
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__slider
        .swiper-container._js#brand1
          .swiper-wrapper
            .swiper-slide.swiper-slide-active
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
        .swiper__btn-prev._brand#brand1-prev
        .swiper__btn-next._brand#brand1-next
        .swiper__pagination#brand1-pagination
      .brand__text#brand-first(data-aos="fade-in" data-aos-delay="500")
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__slider
        .swiper-container._js#brand2
          .swiper-wrapper
            .swiper-slide.swiper-slide-active
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
        .swiper__btn-prev._brand#brand2-prev
        .swiper__btn-next._brand#brand2-next
        .swiper__pagination#brand2-pagination
      .brand__text(data-aos="fade-in" data-aos-anchor="#brand-first" data-aos-delay="1000")
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__slider
        .swiper-container._js#brand3
          .swiper-wrapper
            .swiper-slide.swiper-slide-active
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
            .swiper-slide
              .brand__logo
        .swiper__btn-prev._brand#brand3-prev
        .swiper__btn-next._brand#brand3-next
        .swiper__pagination#brand3-pagination
      .brand__text(data-aos="fade-in" data-aos-anchor="#brand-first" data-aos-delay="1500")
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст