section.brand._transition
  .brand__buble
  ._container._row
    h2._col-12.brand__caption(data-aos="zoom-in")
      | Бренд&nbsp;&mdash; это&nbsp;то, что приносит Вам деньги
    ._col-12.brand__title(data-aos="fade-right" data-aos-delay="500")
      | С&nbsp;этой позиции мы&nbsp;реализуем наши проекты:
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__logo
      .brand__text(data-aos="fade-in" data-aos-delay="500")
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__logo
      .brand__text(data-aos="fade-in" data-aos-delay="500")
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__logo
      .brand__text(data-aos="fade-in" data-aos-delay="500")
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст