section.brand._transition
  ._container._row
    h2._col-12.brand__caption
      | Бренд&nbsp;&mdash; это&nbsp;то, что приносит Вам деньги
    ._col-12.brand__title
      | С&nbsp;этой позиции мы&nbsp;реализуем наши проекты:
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__logo
      .brand__text
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__logo
      .brand__text
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
    ._col-12._col-lg-9._offset-lg-1.brand__item
      .brand__logo
      .brand__text
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст
        | Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст