.case._transition
  ._container._row
    ._col-12.case__box
      .case__left
        .case__left-text
          | Посмотрите на&nbsp;яблоко -
          br
          | какой бренд ассоциируется с&nbsp;ним?
        .case__left-text
          | Посмотрите на&nbsp;3&nbsp;полоски -
          br
          | какой бренд ассоциируется с&nbsp;ними?
        .case__right-title
          | Посмотрите на&nbsp;свой бренд.
          br
          | Что видят клиенты, глядя на&nbsp;Вас?
      .case__right
        .case__right-title
          | Кейс: компания &laquo;Сливочный Рай&raquo;
        .case__right-text
          | Для компании &laquo;Сливочный Рай&raquo; можно было изменить старый
          | логотип из&nbsp;90ых на&nbsp;современный, относящий к&nbsp;качеству молочного
          | производства&nbsp;&mdash; Швейцарию. Выпускать не&nbsp;просто конфеты на&nbsp;развес, а
          | реализовывать их&nbsp;в&nbsp;коробках-пирамидках, относящих к&nbsp;Альпам и&nbsp;его лугам.
        .case__right-text
          | И&nbsp;это малая часть решений, позволяющих повысить узнаваемость бренда.
    ._col-12.case__sub-text
      | ДАВАЙТЕ СОЗДАДИМ СИЛЬНЫЙ БРЕНД
      br
      | ВМЕСТЕ ПРЯМО СЕЙЧАС!