.clients._transition
  .clients__buble
  ._container._row
    ._col-12.clients__title
      | Уже
      |
      span._c.clients__big 30&nbsp;компаний
      |
      | стали
      |
      span._c.clients__big зарабатывать больше
      | ,
      br
      | воспользовавшись нашими решениям
    ._col-12.clients__slider
      .swiper-container#clients
        .swiper-wrapper
          .swiper-slide.swiper-slide-active._clients
            .swiper__item
          .swiper-slide._clients
            .swiper__item
          .swiper-slide._clients
            .swiper__item
          .swiper-slide._clients
            .swiper__item
          .swiper-slide._clients
            .swiper__item
          .swiper-slide._clients
            .swiper__item
          .swiper-slide._clients
            .swiper__item
      .swiper__btn-prev#clients-prev
      .swiper__btn-next#clients-next