#contacts.anchor
section.feedback._transition
  ._container._row
    ._col-12.feedback__caption#feedback-first(data-aos="fade-up")
      | Используйте новые возможности для роста уже сейчас
      br
      span._c и&nbsp;увеличьте свою прибыль на&nbsp;00%
    ._col-12._col-lg-6.feedback__text(data-aos="fade-right" data-aos-anchor="#feedback-first" data-aos-delay="500")
      | Все просто:
      br
      | Мы&nbsp;создаем бренды.
      br
      | Бренды создают деньги.
      h2.feedback__brand
        | Команда
        br
        span._c JUST Marketing
    ._col-12._col-lg-6
      form.feedback__form._row(action="/mail.php" method="POST")
        ._col-12.modal__caption
          | Начать можно уже сейчас
        ._col-12
          input.input.modal__input#feedback-name(name="name" type="text" placeholder=" " required="required")
          label.modal__label(for="feedback-name") Имя*
        ._col-12
          input.input.modal__input#feedback-phone(name="phone" type="tel" placeholder=" " required="required")
          label.modal__label(for="feedback-phone") Телефон*
        ._col-12
          input.input.modal__input#feedback-email(name="email" type="email" placeholder=" " required="required")
          label.modal__label(for="feedback-email") Почта*
        ._col-12
          button.button.modal__button(type="submit")
            | Оставить заявку
        .modal__label-box
          | Нажимая на&nbsp;данную кнопку, Вы&nbsp;соглашаетесь&nbsp;с
          a.link(href="/privacy-policy/") политикой конфиденциальности