section.first
  ._container._row
    ._col-12._col-md-6._col-lg-7.first__label-box
      img.first__label(src=require('../../svg/label.svg') alt="Just marketing")
    h1._col-12._col-md-6._col-lg-5.first__text._c
      | Strategic.
      br
      | Branding.
      br
      | Consulting.