section.first
  ._container._row
    ._col-12._col-md-6._col-lg-7.first__label-box
      img.first__label(src=require('../../svg/label.svg') alt="Just marketing")
    h1._col-12._col-md-6._col-lg-5.first__text._c
      div(data-aos="fade-in" data-aos-delay="500") Strategic.
      div(data-aos="fade-in" data-aos-delay="1000") Branding.
      div(data-aos="fade-in" data-aos-delay="1500") Consulting.
    ._col-12._col-md-10._col-lg-8._col-xl-6._offset-md-1._offset-lg-2._offset-xl-3._s.audit__title(data-aos="fade-up")
      | Слейте еще
      |
      span.audit__big-text больше
      |
      | бюджета в&nbsp;рекламу
      br
      span._c.audit__zero и&nbsp;получите
        |
        |
        span.audit__big-text 0
        | &nbsp;клиентов из-за неправильного маркетинга