section.foryou._transition
  ._container._row
    h2._col-12.foryou__caption(data-aos="zoom-in")
      | Именно для Вас
    ._col-12.foryou__text#foryou-first(data-aos="fade-up" data-aos-delay="500")
      | Мы&nbsp;подберем под Вашу задачу оптимальное решение и&nbsp;предложим только те&nbsp;инструменты, которые необходимы именно
      | для Вашего проекта. НИЧЕГО ЛИШНЕГО.
    ._col-12.foryou__title(data-aos="zoom-in" data-aos-anchor="#foryou-first" data-aos-delay="1000")
      | Для этого&nbsp;мы:
    ._col-12._row._p-n.foryou__list
      ._col-6._col-lg-3(data-aos="zoom-in" data-aos-anchor="#foryou-first" data-aos-delay="1000")
        .foryou__item._i1
          | Проводим аудит
          br
          | текущего состояния
      ._col-6._col-lg-3(data-aos="zoom-in" data-aos-anchor="#foryou-first" data-aos-delay="1000")
        .foryou__item._i2
          | Определяем
          br
          | цели и&nbsp;задачи
      ._col-6._col-lg-3(data-aos="zoom-in" data-aos-anchor="#foryou-first" data-aos-delay="1000")
        .foryou__item._i3
          | Подбираем оптимальное
          br
          | решение для Вас
      ._col-6._col-lg-3(data-aos="zoom-in" data-aos-anchor="#foryou-first" data-aos-delay="1000")
        .foryou__item._i4
          | Формируем выгодное
          br
          | пакетное предложение
    ._col-12.foryou__button-box
      label.button(for="modal-close") Получить предложение