section.important._transition
  ._container._row
    h2._col-12._col-lg-7._ml-lg-5.important__caption(data-aos="zoom-in-right")
      | Для нас важнее,
      |
      span._c кто&nbsp;ВЫ
    ._col-12._col-md-7.important__text(data-aos="fade-up")
      span.important__big Более&nbsp;80% стартапов
      |
      | и&nbsp;компаний
      br
      span.important__big сливают рекламный бюджет в&nbsp;пустоту.
      br
      | Все из-за отсутствия качественного маркетинга и&nbsp;стратегии.
      br
      | Не&nbsp;знают, как использовать весь потенциал своего бренда и&nbsp;какие выбирать
      | инструменты для этого.
    ._col-12.case__box
      .case__left
        .case__left-title В&nbsp;итоге:
        .case__not
          span._c НЕТ
          |
          | результатов от&nbsp;рекламы
        .case__not
          span._c НЕТ
          |
          | узнаваемости бренда
        .case__not
          span._c НЕТ
          |
          | клиентов
        .case__not
          span._c НЕТ
          |
          | продаж
        .case__not
          span._c НЕТ
          |
          | сверхприбыли
      .case__right(data-aos="fade-right" data-aos-delay="500")
        .case__right-title
          | Кейс: компания &laquo;Сливочный Рай&raquo;
        .case__right-text
          | Они производят вкуснейшие сладости из&nbsp;молока и&nbsp;сливок.
          br
          | Они уверены, что занимаются маркетингом, складывая в&nbsp;него
          | порядка 400&nbsp;000 рублей в&nbsp;месяц. Проводят акции и&nbsp;поддерживают
          | мероприятия.
        .case__right-text
          | Но&nbsp;продажи у&nbsp;них как держались на&nbsp;нижней отметке, так
          | и&nbsp;продолжают. А&nbsp;они хотят расширяться и&nbsp;строить грандиозные планы.
    ._col-12.important__sub-text._c
      | Уверены, что не&nbsp;входите в&nbsp;их&nbsp;число?