.packages._transition
  ._container._row
    ._col-12.packages__caption
      | Мы&nbsp;подготовили для Вас 3&nbsp;удобных пакета:
    ._col-12._row._p-n.packages__list
      ._col-12._col-lg-4.packages__item-box
        .packages__item
          .packages__title
            | &laquo;Для старта&raquo;
          .packages__text
            | Если Вы&nbsp;хотите
            | создать новый бренд
            | или запустить бизнес.
          .packages__text
            | Стоимость
            br
            strong._c от 00 000 рублей
          .packages__button-box
            label.button(for="modal-close") Получить предложение
      ._col-12._col-lg-4.packages__item-box
        .packages__item
          .packages__title
            | &laquo;Для ребрендинга&raquo;
          .packages__text
            | Если хотите, чтобы
            | Ваш текущий бренд
            | стал более прибыльным,
            | актуальным
            | и&nbsp;привлекательным.
          .packages__text
            | Стоимость
            br
            strong._c от 00 000 рублей
          .packages__button-box
            label.button(for="modal-close") Получить предложение
      ._col-12._col-lg-4.packages__item-box
        .packages__item
          .packages__title
            | &laquo;Для масштабирования&raquo;
          .packages__text
            | Если выходите
            | на&nbsp;новые рынки,
            | создаете франшизу
            | или открываете филиалы.
          .packages__text
            | Стоимость
            br
            strong._c от 00 000 рублей
          .packages__button-box
            label.button(for="modal-close") Получить предложение