#packages.anchor
.packages._transition
  ._container._row
    ._col-12.packages__caption#packages-first(data-aos="zoom-in")
      | Если Вы&nbsp;не&nbsp;знаете, какие конкретно услуги Вам нужны
      br
      | мы подготовили удобные пакеты:
    ._col-12._row._p-n.packages__list
      ._col-12._col-lg-4.packages__item-box
        .packages__item(data-aos="fade-up" data-aos-anchor="#packages-first" data-aos-delay="500")
          .packages__title
            | &laquo;Для улучшения&raquo;
          .packages__text._full
            | Если хотите, чтобы
            | Ваш текущий бренд
            | стал более прибыльным,
            | актуальным
            | и&nbsp;привлекательным.
          .packages__text
            | Стоимость
            br
            strong._c от 140 000 рублей
          .packages__button-box
            label.button(for="modal-close") Получить предложение
      ._col-12._col-lg-4.packages__item-box
        .packages__item(data-aos="fade-up" data-aos-anchor="#packages-first" data-aos-delay="1000")
          .packages__title
            | &laquo;Для создания&raquo;
          .packages__text._full
            | Если Вы&nbsp;хотите
            | создать новый бренд
            | или запустить бизнес.
          .packages__text
            | Стоимость
            br
            strong._c от 200 000 рублей
          .packages__button-box
            label.button(for="modal-close") Получить предложение
      ._col-12._col-lg-4.packages__item-box
        .packages__item(data-aos="fade-up" data-aos-anchor="#packages-first" data-aos-delay="1500")
          .packages__title
            | &laquo;Для масштабирования&raquo;
          .packages__text._full
            | Если выходите
            | на&nbsp;новые рынки,
            | создаете франшизу
            | или открываете филиалы.
          .packages__text
            | Стоимость
            br
            strong._c от 250 000 рублей
          .packages__button-box
            label.button(for="modal-close") Получить предложение