section.reviews._transition
  ._container._row
    h2._col-12._col-lg-9._offset-lg-3.reviews__caption
      | Мы&nbsp;делаем качественный продукт,
      | который не&nbsp;требует подтверждения
    ._col-12._col-lg-9._offset-lg-3.reviews__title._c
      | но&nbsp;все&nbsp;же, люди оставляют отзывы, и&nbsp;мы&nbsp;обязаны ими поделиться:
    ._row._col-12._col-lg-9._offset-lg-3.reviews__list
      .reviews__item-box
        .reviews__item
      .reviews__item-box
        .reviews__item
    ._col-12._col-lg-8._offset-lg-4.reviews__text
      | Чтобы связаться с&nbsp;нашими клиентами,
      br
      | и&nbsp;узнать подробнее о&nbsp;проведенной работе, оставьте заявку
    ._col-12._col-lg-8._offset-lg-4.reviews__button-box
      label.button(for="modal-close") Оставить заявку