section.services._transition
  ._container._row
    h2._col-12.services__caption
      | Наши услуги:
    ._col-12._p-n.services__list
      .services__item-box
        .services__item._i1
          .services__title
            | Стратегический
            br
            | маркетинг
          .services__text
            | Разработка стратегии компании
            br
            | Разработка стратегии бренда
            br
            | Маркетинговая стратегия продвижения
            br
            | Digital/SMM- стратегия
            br
            | Создание креативной концепции
            br
            | Маркетинг-план
      .services__item-box
        .services__item._i2
          .services__title
            | Работа
            br
            | с&nbsp;брендом
          .services__text
            | Анализ рынка, конкурентов, аудитории
            br
            | Создание концепции бренда
            br
            | Разработка позиционирования
            br
            | Разработка продуктового портфеля
            br
            | Создание нейминга и&nbsp;слогана
            br
            | Создание ключевых сообщений и&nbsp;офферов
            br
            | Корпоративный брендинг
            br
            | Ребрендинг
      .services__item-box
        .services__item._i3
          .services__title
            | Дизайн
          .services__text
            | Разработка логотипа
            br
            | Создание фирменного стиля
            br
            | Разработка брендбука и&nbsp;гайдлайна
            br
            | Инфографика
            br
            | Концепция дизайна упаковки
            br
            | Дизайн рекламных материалов
            br
            | Презентации
      .services__item-box
        .services__item._i4
          .services__title
            | Сопровождение
          .services__text
            | Консалтинг
            br
            | Постановка отдела маркетинга и обучение
            br
            | Маркетинг на аутсорсе
            br
            | Сопровождение и реализация проектов